<app-headers></app-headers>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>I'm working</h2>
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<ul>
  <li (click)="firstToggle()" [ngClass]="{'clicked-color': firstOpen === true}" class="col-md-3">First Line</li>
  <li (click)="secondToggle()" [ngClass]="{'clicked-color': secondOpen === true}" class="col-md-3">Second Line</li>
  <li (click)="thirdToggle()" [ngClass]="{'clicked-color': thirdOpen === true}" class="col-md-3">Third Line</li>
  <hr>
  <button class="btn btn--full">Button</button>
</ul>

